In [31]:
import pandas as pd
import json
import os

In [32]:
# Import cleaned data
df = pd.read_csv('data/datos_actualizados.csv')

In [33]:
# Verifying the data
df.head(10)

,entity_name,city,state_abbreviation,variable_name,year,value,unit,definition
0,kcb bank,lakin,KS,total assets,2007,109409000.0,usd,the sum of all assets owned by the institution...
1,kcb bank,lakin,KS,total deposits,2007,86818000.0,usd,the sum of all deposits including demand depos...
2,kcb bank,lakin,KS,% insured (estimated),2007,0.0,percent,percent of deposits estimated to be insured. ...
3,kcb bank,lakin,KS,all real estate loans,2007,16477000.0,usd,"loans secured primarily by real estate, whethe..."
4,kcb bank,lakin,KS,total securities,2007,43618000.0,usd,total securities: the sum of held-to-maturity ...
5,mountain valley bank,dunlap,TN,total assets,1986,26478000.0,usd,the sum of all assets owned by the institution...
6,mountain valley bank,dunlap,TN,total deposits,1986,22363000.0,usd,the sum of all deposits including demand depos...
7,mountain valley bank,dunlap,TN,% insured (estimated),1986,0.0,percent,percent of deposits estimated to be insured. ...
8,mountain valley bank,dunlap,TN,all real estate loans,1986,6890000.0,usd,"loans secured primarily by real estate, whethe..."
9,mountain valley bank,dunlap,TN,total securities,1986,12222000.0,usd,total securities: the sum of held-to-maturity ...

In [34]:
# List with unique entity names
unique_entity_name = df['entity_name'].unique()

In [35]:
id_unique_entity_name = list(range(1, len(unique_entity_name) + 1))

In [36]:
# Dataframe with unique entity names and their id
df_unique_entity_name = pd.DataFrame({'id_unique_entity_name': id_unique_entity_name, 'unique_entity_name': unique_entity_name})

In [37]:
# Checking the data
df_unique_entity_name.head()

   id_unique_entity_name    unique_entity_name
0                      1              kcb bank
1                      2  mountain valley bank
2                      3            byron bank
3                      4          banner banks
4                      5       sallie mae bank

In [38]:
df_unique_entity_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2798 entries, 0 to 2797
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_unique_entity_name  2798 non-null   int64
 1   unique_entity_name     2798 non-null   object
dtypes: int64(1), object(1)
memory usage: 43.8+ KB

In [39]:
folder_path = 'data/json_entity_name/'

# Iterate over each row in the dataframe
for index, row in df_unique_entity_name.iterrows():
    # Define the name of the file
    file_name = os.path.join(folder_path, f'entity_name_{row["id_unique_entity_name"]}.json')
    
    # Build a dictionary with the data
    content = {'entity_name': row['unique_entity_name']}
    
    # Write the dictionary as a json file in the data folder
    with open(file_name, "w") as file:
        json.dump(content, file)

print('Files created successfully')

Files created successfully