In [51]:
import pandas as pd
import csv

In [52]:
#read in the data
df = pd.read_csv('data/Financial_Data.csv')

In [61]:
df.head(15)

,ENTITY_NAME,CITY,STATE_ABBREVIATION,VARIABLE_NAME,YEAR,VALUE,UNIT,DEFINITION
0,KCB Bank,Lakin,KS,Total Assets,2007.0,1.094090e+08,USD,The sum of all assets owned by the institution...
1,KCB Bank,Lakin,KS,Total deposits,2007.0,8.681800e+07,USD,The sum of all deposits including demand depos...
2,KCB Bank,Lakin,KS,% Insured (Estimated),2007.0,0.000000e+00,Percent,Percent of deposits estimated to be insured. ...
3,KCB Bank,Lakin,KS,All Real Estate Loans,2007.0,1.647700e+07,USD,"Loans secured primarily by real estate, whethe..."
4,KCB Bank,Lakin,KS,Total Securities,2007.0,4.361800e+07,USD,Total securities: the sum of held-to-maturity ...
5,Mountain Valley Bank,Dunlap,TN,Total Assets,1986.0,2.647800e+07,USD,The sum of all assets owned by the institution...
6,Mountain Valley Bank,Dunlap,TN,Total deposits,1986.0,2.236300e+07,USD,The sum of all deposits including demand depos...
7,Mountain Valley Bank,Dunlap,TN,% Insured (Estimated),1986.0,0.000000e+00,Percent,Percent of deposits estimated to be insured. ...
8,Mountain Valley Bank,Dunlap,TN,All Real Estate Loans,1986.0,6.890000e+06,USD,"Loans secured primarily by real estate, whethe..."
9,To be considered wholly or substantially secur...,the estimated value of the real estate collat...,NaN,NaN,NaN,NaN,NaN,NaN
10,Mountain Valley Bank,Dunlap,TN,Total Securities,1986.0,1.222200e+07,USD,Total securities: the sum of held-to-maturity ...
11,Byron Bank,Byron,IL,Total Assets,2019.0,2.716930e+08,USD,The sum of all assets owned by the institution...
12,Byron Bank,Byron,IL,Total deposits,2019.0,2.395160e+08,USD,The sum of all deposits including demand depos...
13,Byron Bank,Byron,IL,% Insured (Estimated),2019.0,8.478772e-01,Percent,Percent of deposits estimated to be insured. ...
14,Byron Bank,Byron,IL,All Real Estate Loans,2019.0,1.308050e+08,USD,"Loans secured primarily by real estate, whethe..."

In [62]:
# Aplica la eliminación de \n solo para los registros que cumplen la condición
df.loc[df['VARIABLE_NAME'] == 'All Real Estate Loans', 'DEFINITION'] = df.loc[df['VARIABLE_NAME'] == 'All Real Estate Loans', 'DEFINITION'].str.replace('\n', '')

In [65]:
# Guarda el DataFrame actualizado en un nuevo archivo CSV
df.to_csv('datos_actualizados.csv', index=False)

In [59]:
df_final = pd.read_csv('data/datos_actualizados.csv')

In [60]:
df_final.head(10)

,ENTITY_NAME,CITY,STATE_ABBREVIATION,VARIABLE_NAME,YEAR,VALUE,UNIT,DEFINITION
0,KCB Bank,Lakin,KS,Total Assets,2007,109409000.0,USD,The sum of all assets owned by the institution...
1,KCB Bank,Lakin,KS,Total deposits,2007,86818000.0,USD,The sum of all deposits including demand depos...
2,KCB Bank,Lakin,KS,% Insured (Estimated),2007,0.0,Percent,Percent of deposits estimated to be insured. ...
3,KCB Bank,Lakin,KS,All Real Estate Loans,2007,16477000.0,USD,"Loans secured primarily by real estate, whethe..."
4,KCB Bank,Lakin,KS,Total Securities,2007,43618000.0,USD,Total securities: the sum of held-to-maturity ...
5,Mountain Valley Bank,Dunlap,TN,Total Assets,1986,26478000.0,USD,The sum of all assets owned by the institution...
6,Mountain Valley Bank,Dunlap,TN,Total deposits,1986,22363000.0,USD,The sum of all deposits including demand depos...
7,Mountain Valley Bank,Dunlap,TN,% Insured (Estimated),1986,0.0,Percent,Percent of deposits estimated to be insured. ...
8,Mountain Valley Bank,Dunlap,TN,All Real Estate Loans,1986,6890000.0,USD,"Loans secured primarily by real estate, whethe..."
9,Mountain Valley Bank,Dunlap,TN,Total Securities,1986,12222000.0,USD,Total securities: the sum of held-to-maturity ...

In [67]:
df_final['YEAR'].dtypes

dtype('int64')

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.to_csv("data_financial.csv", index=False, header=True)